button{
    background-color: aqua;
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-family: monospace;
    color: black;
    font-size: 14px;
}
body{
    position: relative;
    transition: all 2.5s;
    
}
#div{
    content: "";
    width: 500px;
   position: absolute;
   top: -400px;
   left: 435px;
   flex-direction: column;
   padding: 23px;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(255, 255, 255);
   transition: all 2s;
   margin: 50px;
   color: rgb(0, 0, 0);
   font-family: monospace;
   box-shadow: 14px 14px 100px gray;
}

#clickMe-style{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#clickMe{
    content: "";
    position: absolute;
    top: 0px;
    transition: all 2s;
}